@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie App</h1>
    <p>The movie app is used to see movies that are about The Church of Jesus Christ of Latter-day Saints.
        Here you will be able to see the genre of the movie, how much it costs, the release date, and the rating. 
        You will also be able to create new movies and edit the old ones. We have a world class sorting and searching
        tool as well. Just click Movie App above to get started.
    </p>
</div>
