html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F7F7FF;
}

nav, footer{
  background-color: #C49991;
}

h1, h2, h3, p, a, th, td {
  color: #60656F;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}